* {
    margin: 0px;
    padding: 0px;
}

:root {
    --blue: #027BFF;
    --grey: #8F9EA5;
    --red: #FC5C65;
}

body {
    width: 75%;
    margin: 0 auto;
    background: url('../images/background.png') no-repeat;
    background-size: contain;
}

header {
    margin: 5.86vw 0;
    margin-bottom: 10.24vw;
}
nav img {
    width: 3.51vw;
}
nav a {
    font-size: 2.19vw;
    color: var(--blue);
}

nav a:hover {
    text-decoration: none;
    color: var(--blue);
}

main h1 {
    font-size: 3.51vw;
}

main h4 {
    font-size: 2.34vw;
    color: var(--grey);
    font-weight: 400;
}

h2 {
    font-size: 2.34vw;
}

p {
    font-size: 1.17vw;
}

#typed {
    display: inline;
    color: var(--red);
}

.user {
    width: 14.64vw;
    height: 14.64vw;
    border-radius: 50%;
}

.scroll {
    width: 2.19vw;
    margin: 0px auto;
    margin-top: 7.32vw;
    margin-bottom: 7.32vw;
}

.scroll img {
    width: 2.19vw;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0.36vw;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.36vw var(--#fff);
    border-radius: 0.36vw;
}

::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 0.36vw;
}

.dev {
    width: 48.31vw;
    text-align: center;
    margin: 5.86vw auto;
    background: rgba(43, 157, 255, .03);
    border-radius: 7.02vw;
}

.dev h1 {
    font-size: 3.36vw;
    padding: 2.19vw 2.19vw 0px 2.19vw;
}

.dev h4 {
    font-size: 2.19vw;
    padding: 0 2.19vw 2.19vw 2.19vw;
}

#devimg {
    width: 43.92vw;
}

.dev_lang {
    text-align: right;
}

.dev_lang h1 {
    font-size: 3.22vw;
    margin: 2.92vw 0px;
}

.dev_lang table {
    float: right;
}

.dev_lang table td {
    padding: 0.73vw;
}

.dev_lang table tr td img {
    width: 3.66vw;
}

.devtools {
    text-align: center;
    margin-top: 5.86vw;
}

.devtools h2 {
    font-size: 2.92vw;
    font-weight: 400;
}

.devtools table {
    width: 80%;
    margin: 0 auto;
    margin-top: 2.19vw;
    text-align: center;
    table-layout: fixed;
}

.devtools table tr td img {
    width: 2.92vw;
}

.devtools table tr td {
    width: 33%;
    padding: 0.36vw;
}

.devtools table h2 {
    font-size: 1.75vw;
}

.framework {
    text-align: center;
    font-size: 1.75vw;
    margin-top: 5.86vw;
}

.framework h2 {
    font-size: 2.92vw;
    font-weight: 400;
}

.framework table {
    width: 80%;
    margin: 0 auto;
    margin-top: 2.19vw;
    table-layout: fixed;
}

.framework table tr td img {
    width: 2.92vw;
}

.framework table tr td {
    width: 33%;
    padding: 6px;
}

.framework table h2 {
    font-size: 1.83vw;
}

.design {
    width: 48.31vw;
    text-align: center;
    margin: 5.86vw auto;
    background: rgba(43, 157, 255, .03);
    border-radius: 7.02vw;
}

.design h1 {
    font-size: 3.36vw;
    padding: 2.19vw 2.19vw 0px 2.19vw;
}

.design h4 {
    font-size: 2.19vw;
    padding: 0 2.19vw 2.19vw 2.19vw;
}

#designimg {
    width: 100%;
}

.designdata {
    text-align: left;
}

.designdata h1 {
    font-size: 3.22vw;
    margin: 2.19vw 0px;
}

.designdata h2 {
    font-size: 2.92vw;
    font-weight: 400;
    margin: 2.19vw 0px;
}

.designdata .designtools {
    text-align: center;
    width: 0%;
}

.designdata table td {
    padding: 0.73vw;
}

.designdata table td h2 {
    font-weight: 400;
    font-size: 2.34vw;
    margin: 0px;
}

.designdata table tr td img {
    width: 3.66vw;
}

.contact {
    width: 40.99vw;
    text-align: center;
    margin: 5.86vw auto;
    background: rgba(43, 157, 255, .03);
    border-radius: 7.02vw;
}

.contact h1 {
    font-size: 2.92vw;
    padding: 2.19vw 2.19vw 0px 2.19vw;
}

.contact h4 {
    font-size: 2.19vw;
    padding: 0 2.19vw 2.19vw 2.19vw;
    color: var(--grey);
    font-weight: 400;
}

.email img {
    width: 2.19vw;
}

.email a {
    font-size: 2.19vw;
    text-decoration: underline;
}

.email a:hover {
    color: var(--blue);
}

.email table {
    margin: 0 auto;
}

.email table tr td {
    padding: 0.36vw;
}

.social {
    margin: 1.46vw 0px 5.86vw 0px;
}

.social img {
    width: 2.92vw;
}

.social table {
    margin: 0 auto;
}

.social table tr td {
    padding: 1.09vw;
}


.made {
    text-align: center;
}
